html {
    box-sizing: border-box;
}

*,
*::before,
*:after {
    box-sizing: inherit;
}

body {
    font-family: 'Onest', sans-serif;
}

.container {
    width: 80%;
    max-width: 1280px;
    margin-right: auto;
    margin-left: auto;
}

.btn {
    display: inline-block;
    text-decoration: none;
    font-size: 1rem;
    padding: 0.5em;
    margin: 0 0.1em;
    border-radius: 0.5em;
}

.bg-header {
    background-image: url('../assets/bg-header-min.jpg');
    background-repeat: no-repeat;
    height: 18.75em;
    background-position: center;
    background-size: cover;
}

.bg-navbar {
    background-color: rgba(3, 14, 22, 0.644);
    padding: 1.5em 0;
}

.navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (min-width: 768px) {
    .navbar {
        flex-direction: row;
        justify-content: space-between;
    }
}

.navbar-brand {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    font-size: 2rem;
    text-decoration: none;
    margin-bottom: 1em;
}

@media (min-width: 768px) {
    .navbar-brand {
        flex-direction: row;
        margin-bottom: 0;
    }
}

.navbar-brand img {
    width: 2em;
}

.navbar-nav {
    background-color: rgba(1, 15, 28, 0.671);
    padding: 1em;
    border-radius: 0.3em;
}

.nav-link {
    display: inline-block;
    padding: 0.3em;
    text-decoration: none;
    color: white;
}

.nav-link:hover {
    background-color: white;
    color: black;
    border-radius: 0.5em;
}

.main {
    margin-top: -2em;
    background-color: white;
    padding: 0.3em;
    border-radius: 0.3em;
}

.main-title {
    text-align: center;
    text-transform: uppercase;
}

@media (min-width: 768px) {
    .tienda {
        display: flex;
        gap: 1em;
    }
}

.card {
    background-color: #21514D;
    color: white;
    overflow: hidden;
    border-radius: 0.5em;
    margin-bottom: 1em;
}

.card-img {
    width: 100%;
}

.card-body {
    padding: 1em;
}

.card-body h5 {
    font-size: 1.5rem;
    margin: 1em 0;
    font-weight: 900;
}

.card-body p {
    font-weight: 300;
}

.btn-primary {
    color: white;
    background-color: #993C3E;
}

.btn-secondary {
    color: white;
    background-color: #2a9d8f;
}

.btn-danger {
    color: white;
    background-color: #21514D;
}

.btn-info {
    color: black;
    background-color: #436959;
}

.btn-dark {
    color: white;
    background-color: #7E8079;
}

.nosotros {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1em;
    background-color: #7E8079;
}

.nosotros-col-img {
    background-image: url(../assets/nosotros-min.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 21.875em;
    width: 100%;
    order: 2;
}

.nosotros-col-text {
    order: 1;
}

@media (min-width: 576px) {
    .nosotros-col-img {
        height: 31.25em;
    }
}

@media (min-width: 768px) {
    .nosotros {
        flex-direction: row;
    }

    .nosotros-col-img {
        order: 1;
        flex: 1 1 0;
    }

    .nosotros-col-text {
        order: 2;
        flex: 1 1 0;
    }
}

.nosotros-body {
    padding: 1em;
    text-align: center;
    color: white;
}

.nosotros-body h2 {
    text-transform: uppercase;
    font-weight: 400;
}

.nosotros-body p {
    font-weight: 300;
}

.bg-footer {
    background-color: #7E8079;
    color: white;
}

.bg-footer p {
    margin: 0;
    padding: 1em 0;
    text-align: center;
}